<div class="container mt-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm rounded px-4">
      <!-- Brand -->
      <!-- <a class="navbar-brand fw-bold text-primary" href="#">MyTours</a> -->
      <img src="../../../assets/images/logo.png" alt="Logo" style="height:40px; width:auto;">  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Nav Links -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav align-items-lg-center w-100">
          <!-- Left side links -->
          <li class="nav-item">
            <a class="nav-link active fw-medium px-3" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium px-3" routerLink="/tour">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium px-3" routerLink="/bookings">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium px-3" routerLink="/destinations">Destinations</a>
          </li>
  
          <!-- Spacer pushes auth items right only on desktop -->
          <li class="flex-grow-1 d-none d-lg-block"></li>
  
          <!-- Auth links -->
          <li class="nav-item">
            <a class="nav-link fw-medium px-3" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary fw-medium px-3 rounded-pill ms-lg-2 mt-2 mt-lg-0" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  