.avatar-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.list-group-item:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.btn-group-vertical .btn {
  font-size: 0.875rem;
}