<!-- In your template -->
<button (click)="openDeleteConfirm(deleteModal)">Delete</button>

<ng-template #deleteModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirm Delete</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this item? This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('confirm')">Delete</button>
  </div>
</ng-template>